body {

}


a {
    color: #999;
}

a:hover {
    color: #999;
}


.navLinks {
    padding-right: 100px;
}


#logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    margin-left: 10%;
    text-decoration: none;
  }

.navbar {
    padding: 0px 0px 1px 0px;
}

